     body {
  background-color: #F3F6F7
}
nav {
  list-style-type: none;
    background-color: #E9D8DE;
  background-size: 50px;
  position:center;
  font-size: 20px;
  text-align: center;
  text-color: 2F1B25;
    top: 0;
  width: 100vw;
}

li{
  display: inline;
  padding: 30px;
  top: 0;
  left: 0;
  
}
li:hover {
  color: #E2CBD3
}

a {
  text-decoration:none;
  color: #2F1B25;
}

a:hover {
  color: #4E2D3C;
}
